* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

body{
    font: 14px/1.5 "Microsoft Yahei", "Haragino Sans GB", "Heiti SC", "Wenquanyi Micro Hei", sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}