.wrapper{
    margin: 0 auto;
    width: 1200px;
}


.header{
    height: 100px;
    background-color: #e41717;
    display: flex;

    
    padding-top: 29px;
}

.logo a{
    display: block;
    width: 195px;
    height: 41px;
    /* background-image: url(); */
    /* font-size: 0; */
}

.nav{
    margin-left: 102px;
    width: 600px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
}

.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

.user{
    margin-left: 400px;
    margin-top: 4px;
}

.user img{
    margin-right: 7px;
    vertical-align: middle;
}

.user span{
    font-size: 16px;
    color: #666;
}