
.a{
    position:relative;
    top: 150px;
    width: 650px;
    height: 550px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:center;
}
body
{
    background-image: linear-gradient(to left,#ffffff,#51b3e8);
        display: flex;
        justify-content: center;
}