.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body{
    background-color: #f3f5f7;
}

.header{
    height: 100px;
    background-color: #fff;
    display: flex;

    
    padding-top: 29px;
}

.logo a{
    display: block;
    margin-top: 4.5px;
    width: 240px;
    height: 41px;
    font-weight: 700;
    /* background-image: url(); */
    font-size: 28px;
}

.nav{
    margin-left: 68.5px;
    width: 670px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
}

.nav li a{
    display: block;
    margin-right: 211px;
    padding: 6px 20px;
    line-height: 27px;
}

.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

.user{
    margin-left: 241.5px;
    margin-top: 4px;
}

.user img{
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    width: 30px;
}

.user span{
    font-size: 16px;
    color: #666;
}

.wall{
    margin: 0 auto;
    margin-top: 10px;
    height: 800px;
    width: 1000px;
    background-color: #fff;
}

textarea{
    height: 100px;
    width: 470px;
}
.content{
    padding: 30px;
  }
  .card{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ebeef5;
    padding: 20px;
    /* display: block; */
  }
  .card .title{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebeef5;
  }
  
  /* 表单 */
  .body form>div{
    margin-top: 20px;
  }
  .body form input, .body form select{
    width: auto;
    display: inline-block;
  }
/* 富文本编辑器 */
#editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* 按需定义 */
  }
  #toolbar-container { border-bottom: 1px solid #ccc; }
  #editor-container { height: 500px; }  


  .shell{
    background-color: rgb(185, 230, 235);
    padding: 10px;
    height: 800px;
    width: 1000px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}